.instruction{
    background: url(../../img/c5.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    z-index: -1;
    height: 100vh;
    width: 100%;
    margin: 0%;
    top: 0;
    text-align: center;
    
}
        .paper
        {
            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            height: 60%;
            top: 20%;
        }
        .text-wrapper{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .title{
            font-size: 4rem;
            color: black;
        }
        .subtitle{
            font-size: 2rem;
            color: black;
        }
        .s2{
            font-size: 1.2rem;
            color: black;
        }
        .s3{
            font-size: 1.2rem;
            color: black;
        }
        .btnStart{
            background-color: rgb(149, 90, 41);
            border-radius: 50rem;
            width: 25%;
            color: aliceblue;
            height: 4rem;
            font-size: 35px;
            margin: 30px;
        }
        .btnStart:hover{
            background-color: rgb(103, 69, 40);
            color: beige;
        }


@media only screen and (max-width: 1000px) {
    .paper{
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 60%;
        top: 20%;
    }
    .text-wrapper{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .title{
        font-size: 2rem;
        color: black;
    }
    .subtitle{
        font-size: 1rem;
        color: black;
    }
    .s2{
        font-size: 0.7rem;
        color: black;
    }
    .s3{
        font-size: 0.7rem;
        color: black;
    }
    .btnStart{
        background-color: rgb(149, 90, 41);
        border-radius: 50rem;
        width: 25%;
        color: aliceblue;
        height: 2rem;
        font-size: 1rem;
        margin: 10px;
    }
    .btnStart:hover{
        background-color: rgb(103, 69, 40);
        color: beige;
    }
}

@media only screen and (max-width: 600px) {
    .paper{
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 60%;
        top: 20%;
    }
    .text-wrapper{
        width: 70%;
        height: 60%;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .title{
        font-size: 2rem;
        color: black;
    }
    .subtitle{
        font-size: 1rem;
        color: black;
    }
    .s2{
        font-size: 1.2rem;
        color: black;
    }
    .s3{
        font-size: 1.2rem;
        color: black;
    }
    .btnStart{
        background-color: rgb(149, 90, 41);
        border-radius: 30%;
        color: aliceblue;
        height: 2rem;
        font-size: 15px;
        margin: 10px;
    }
    .btnStart:hover{
        background-color: rgb(103, 69, 40);
        color: beige;
    }
}