.popup-container > span{
    position: absolute; 
    top: 30%;
    left: 30%;
    font-size: 2rem;
    font-weight: bold;
}

.inputCode{
    position: absolute;
    top: 49%;
    left: 42.2%;
    height: 60px;
    width: 300px;
    text-align: center;
    border-radius: 17px;
    background-color: #2a2a2a;
    border: 2px solid black;
    font-size: 35px;
    color: gray;
}


/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

.btnDivBriefcase{
    position: absolute;
    top: 60%;
    width: 100%;
    /* height: inherit; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0.9%;

}

.btnBriefcase{
    /* position: absolute;
    top: 45%; */
    /* margin: auto; */
    /* text-align: center; */
    /* left: 45.5%;S */
    height: 40px;
    width: 130px;
    border: 2px solid rgb(78, 77, 77);
    background-color: rgb(141, 140, 140);
    font-weight: bold;
    border-radius: 10px;
    color: black;
}
.btn:hover{
    background-color: #2a2a2a;
    color: #fff;
}
.mssgBriefcase{
    
    color: white;
    align-items: center;
    text-align: center;
    font-size: 18px;
    margin: 1rem auto;  
    
    font-weight: 400;
}