.popup-container > span{
    position: absolute;
    
    top: 30%;
    left: 30%;
    font-size: 2rem;
    font-weight: bold;
}

.inps{
    position: absolute;
    top: 45%;
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    left: 30%;
}

.inps input{
    height: 4rem;
    width: 3rem;
    padding: 5px;
    background: none;
    font-size: 2rem;
    border: 2px solid black;
    /* border: none; */
    outline: none;
}

.inps2{
    position: absolute;
    top: 60%;
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    left: 45%;
}

.inps2 input{
    height: 3rem;
    width: 10rem;
    padding: 5px;
    background: none;
    font-size: 2rem;
    border: 2px solid black;
    /* border: none; */
    outline: none;
}

.open-btn{
    position: absolute;
    width: 100%;
    /* bottom: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 23%;
    /* right: 30%; */
}

.open-btn button{
    
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    width: 10%;
    color: white;
    font-weight: bold;
    background: rgb(1, 107, 1);
}

.open-btn button:hover{
    background: green;
}

#in1, #in2, #in3, #in4, #in5, #in6{
    text-align: center;
} 