
.popup-container{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
  
  .escape{
    /* The image used */
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust the height as needed */
  background: black;
  object-fit: cover;
  }

.blurry-image{
  width: 89%;
  /* max-height: 100%; */
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
  

  scroll-snap-align: none;
  /* filter: blur(8px); Adjust the blur intensity as desired */

}
.blur{
    filter: blur(10px);
  
}

.escape-bg{
  position: relative;
  width: 100%;
  height: 100vh;
}




/* Btn imgs ht. wdth */
#calender , #mobile , #monalisa , #laptop , #briefcase , #sticky , #clock , #grid , #doorlock , #bookshelf{
  cursor: pointer;
  z-index: 1;
}
#calender{
  position: absolute;
  height: 11rem;
  width: 10rem;
  
  top: 25%;
  left: 50.5%;
}

#monalisa{
  position: absolute;
  height: 12.5rem;
  width: 11rem;
  top: 24%;
  left: 37.5%;

}

#mobile{
  position: absolute;
  height: 2rem;
  width: 4rem;
  bottom: 10%;
  right: 43%;
}

#laptop{
  position: absolute;
  height: 7.9rem;
  width: 10.2rem;

  bottom: 7.5%;
  left: 37.9%;
}

#briefcase{
  position: absolute;
  height: 4.5rem;
  width: 8.5rem;
  bottom: 0.2%;
  right: 15.7%;
}

#sticky{
  position: absolute;
  height: 4rem;
  width: 3rem;
  bottom: 40%;
  right: 6.2%;

}

#clock{
  position: absolute;
  height:25rem;
  width: 10.3rem;
  right: 10.6%;
  bottom: 27%;
}

#grid{
  position: absolute;
  height: 3.9rem;
  width: 3.8rem;
  top: 38.3%;
  right: 25.99%;
  filter: brightness(80%);
}
#doorlock{
  position: absolute;
  height: 6rem;
  width: 6.8rem;
  top: 45%;
  left: 15.3%;

}

#bookshelf{
  position: absolute;
  height: 6rem;
  width: 22.8rem;
  top: 61.3%;
  left: 37.85%;
}
.mui-box {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s transform ease-in-out;
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.escape-container{
    position: absolute;
    top: 0;
    left: 40%;

    scroll-snap-align: none;
    color: black;
}

.escape-container > span{
    padding: 10px;
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(255,255, 255 ,0.4); /* Black w/opacity/see-through */
    border: 3px solid #f1f1f1;
    
    color: white;
    font-size: 2rem;
    /* color: white; */
    font-weight: bold;
    
}

@media only screen and (max-width: 1000px) {
  .blurry-image{
    width: 82%;
    height: 100%;

    object-fit: cover;
  }
  #calender{
    height: 5.5rem;
    width: 4.5rem;

  }

  #monalisa{
    height: 7.5rem;
    width: 6.5rem;
    left: 37%;
  }

  #mobile{
    height: 1rem;
    width: 2rem;
  }
  #laptop{
    height: 4.6rem;
    width: 5.6rem;
  }
  #briefcase{
    height: 2rem;
    width: 4rem;
    
  }
  #sticky{
   
    height: 2rem;
    width: 3rem;
    right: 8%;
  }

  #clock{
    height: 12rem;
  width: 5rem;
    right: 14%;
    bottom: 28%;
  }

  #grid{
    height: 1.4rem;
    width: 3.5rem;
    right: 26%;
  }
  #doorlock{
    height: 3.6rem;
    width: 3.7rem;
    top: 45%;
    left: 17.4%;
  
  }

  #bookshelf{
    /* height: 7.5rem;
  width: 15rem;
  left: 35%; */
  height: 3rem;
  width: 14rem;
  left: 36%;
  }
}

@media only screen and (width: 740px){
  #bookshelf{
    height: 2.5rem;
  width: 12.5rem;
  left: 35%;
  
  }
  #laptop{
    height: 4rem;
    width: 5rem;
    right: 52%;
  }
} 

@media only screen and (max-width: 700px) {
  .blurry-image{
    width: 90%;
    height: 100%;

    object-fit: cover;
  }
  #calender{
    height: 5rem;
    width: 4rem;

  }

  #monalisa{
    height: 7rem;
    width: 5.5rem;
  }

  #mobile{
    height: 1rem;
    width: 2rem;
  }
  #laptop{
    height: 3.6rem;
    width: 4.6rem;
  }
  #briefcase{
    height: 2rem;
    width: 4rem;
    
  }
  #sticky{
   
    height: 1.5rem;
    width: 2.5rem;
    right: 4%;
  }
  #clock{
    height: 9.5rem;
    width: 5rem;
    right: 10%;
    bottom: 27%;
  }
  #grid{
    height: 1rem;
    width: 2rem;
  }
  #doorlock{
    height: 3.6rem;
    width: 3.7rem;
    top: 45%;
    left: 14%;
  
  }
  #bookshelf{
   height: 3rem;
  width: 12rem;
  left: 35%;
  }
}